@import "tailwindcss";

@theme {
    --color-principal: #4211c6;
    --color-secundary: #ed6876;
    --color-success: #5bb154;
    --color-error: #dc0404;
    --color-warning: #f6c30d;
}

:root {
    /* color-scheme: light dark; */
}
